body {
        font-family: "Lato", sans-serif;
    }

.topnav {
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 5px;
}

.topnav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

.topnav a:hover {
    color: #f1f1f1;
}

.topnav ul > li {
    display: inline-block;
}

.main {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 100px 0px;
}

.modal-header {
    height: 40px;
    font-size: 20px;
    padding-top: 3px;
}

.error-text {
    color: red;
}

.breadcrumb {
    font-size: 0.7em;
}

table {
    max-width: 100%;
}

.th-color {
    background-color: #007bff;
    color: white;
}

.td-id {
    width: 5px;
    text-align: center;
}

.td-name {
    max-width: 30%;
    text-align: left;
}

.td-description {
    text-align: left;
}

.td-value {
    text-align: center;
}

.td-count {
    width: 25px;
    text-align: center;
}

.td-buttons {
     width: 200px;
     text-align: center;
}

td > textarea {
    max-width: 70%;
    border: 1px solid grey;
}

td > input {
    max-width: 70%;
    border: 1px solid grey;
}

